*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 13px;
}
.clear{
    clear: both;
}
.title{
    background: #33a64c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
}
.item{
    border-radius: 5px;
    border: 2px solid #f8f8f8;
}
.item img{
    width: 380px;
    height: 250px;
}
.item h3{
    font-weight: bold;
    margin: 15px;
}
.item p{
    margin-left: 15px;
    margin-bottom: 80px;
}
.button{
    display: flex;
}
#toolbar{
    margin: auto;  
}
.btn-primary{
    margin-bottom: 20px;
}
.btn-danger{
    margin: auto;
    margin-top: 40px;
}
table{
    margin: 40px auto;
    border: 2px solid #e8e8e8;
    text-align: center;
}
td{
    font-size: 25px;
    width: 250px;
    padding: 10px;
    border-bottom: 2px solid #e8e8e8;
}
.active{
    background: #67ab9f;
    color: #fff;
}